
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Inter', sans-serif;
}

.round-outline{
  border: 1px solid black;
  border-radius: 8px;
}

.circle {
  width: 70px; /* Or any other equal value */
  height: 70px; /* Must be equal to width */
  background-color: #3498db; /* Example background color */
  border-radius: 50%;
  margin: 3% 3% 3% 6%; 
}

.song-component{
  display: flex;


  .song-info{

    display: flex;
    flex-direction: column;
    justify-content: center;


    .song-name{
      color:#034078;
      font-size: 1em;
      margin: 0;
    }

    .artist-name{
      font-size: 0.75em;
      margin: 0;
    }
  }

  
}
